<div class="TemplateForm">
  <h2 id="registration">Registration Form</h2>
  <form (ngSubmit)="onSubmit(registryForm)" #registryForm="ngForm">
    <label for="fname">Name</label>
    <input type="text" id="fname" placeholder="Your name" name="name" ngModel>

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Your email..." name="email" ngModel>

    <label for="county">Country</label>
    <select id="county" name="county">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">Usa</option>
      <option value="hungary">Hungary</option>
    </select>

    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male" name="gender" ngModel>
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" name="gender" ngModel>
    <label for="female">Female</label>
    <br><br>

    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" name="sports" name="hobbies" ngModel>Sports</label>
      <label><input type="checkbox" name="" id="movies" name="hobbies" ngModel>Movies</label>
      <label><input type="checkbox" name="" id="music" name="hobbies" ngModel>Music</label>
    </div>
    <br>

    <input type="submit" value="Submit" id="btn">


  </form>
</div>